h1.login-panel-heading Submit Reviews Here:
div.form-div
  label.form-label(for="name") Makeup Name:
  input.form-input(type="text", name="name" placeholder="Enter the name of the reviewed makeup here. . ." value=review.name)
div.form-div
  label.form-label(for="brand") Brand:
  input.form-input(type="text", name="brand" placeholder="Enter the brand of the reviewed makeup here. . ." value=review.brand)
div.form-div
  label.form-label(for="type") Type of Makeup:
  input.form-input(type="text", name="type" placeholder="Enter what kind of makeup you reviewed here. . ." value=review.type)
div.form-div
  label.form-label(for="price") Price (per container):
  input.form-input(type="text", name="price" placeholder="Enter the price of the reviewed makeup here. . ." value=review.price)
div.form-div
  label.form-label(for="description") Description:
  textarea.form-textarea(name="description" cols="22" rows="6" placeholder="Type your full review here!" value=review.description)
div.form-div
  label.form-label(for="uploaded_image") Upload Photo: 
  input.form-input(type="file", name="uploaded_image", accept="image/*")
input(type="submit")