div.form-div
  label.form-label(for="makeupname") Makeup Name:
  input.form-input(type="text", name="name" value=review.name)
div.form-div
  label.form-label(for="brand") Brand:
  input.form-input(type="text", name="brand" value=review.brand)
div.form-div
  label.form-label(for="type") Type of Makeup:
  input.form-input(type="text", name="type" value=review.type)
div.form-div
  label.form-label(for="price") Price (per container):
  input.form-input(type="text", name="price" value=review.price)
div.form-div
  label.form-label(for="description") Description:
  textarea.form-textarea(name="description" cols="22" rows="6" value=review.description)
input(type="submit")

// Look on Review.js for commented out input form