extends includes/side-nav-layout.pug

block content
    h1.admin-heading Admin Login
    div.login
        section.login__panel
            h1.login-panel-heading Welcome Admin!
            form(action='/admin' method='POST')
                input(
                    type='text'
                    class='login-input'
                    name='adminusername'
                    placeholder='Type username here'
                )
                input(
                    type='password'
                    class='login-input'
                    name='adminpassword'
                    placeholder='Type password here'
                )
                input(
                    type='submit'
                    class='login-input'
                )