extends includes/side-nav-layout.pug

block content
    h1.admin-heading Admin Login
    div.login
        section.login__panel
            h1.login-panel-heading Welcome Admin!
            input(
                type='text'
                class='login-input'
                placeholder='Type username here'
            )
            input(
                type='password'
                class='login-input'
                placeholder='Type password here'
            )