extends includes/side-nav-layout.pug

block content
    h1.reviews-heading Makeup Reviews
    div.reviews
        each val in makeupData
            section.reviews__section
                p.reviews-text= val.name
                p.reviews-text= val.brand 
                p.reviews-text= val.type 
                p.reviews-text= val.description
                p.reviews-text= val.price