extends includes/side-nav-layout.pug

block content
    h1.reviews-heading Makeup Reviews
    div.reviews
        each val in makeupData
            section.reviews__section
                p.reviews-text= 'Makeup Name: ' + val.name
                p.reviews-text= 'Brand: ' + val.brand 
                p.reviews-text= 'Type of Makeup: ' + val.type 
                p.reviews-text= 'Description: ' + val.description
                p.reviews-text= 'Price: $' + val.price