extends includes/side-nav-layout.pug

block content
    h1.reviews-heading Makeup Reviews
    div.reviews
        each val in makeupData
            section.reviews__card
                section.reviews__card-face.front
                    img.card-foto(src=`/static/${val.src}`)
                section.reviews__card-face.back
                    p.reviews-text-heading Makeup Name 
                    p.reviews-text-data= val.name
                    p.reviews-text-heading Brand
                    p.reviews-text-data= val.brand 
                    p.reviews-text-heading Type of Makeup 
                    p.reviews-text-data= val.type 
                    p.reviews-text-heading Description 
                    p.reviews-text-desc= val.description 
                    p.reviews-text-heading Price 
                    p.reviews-text-data= '$' + val.price