extends includes/side-nav-layout.pug

block content
    h1.reviews-heading Makeup Reviews
    div.reviews
        each val in makeupData
            section.reviews__section
                p.reviews-text Makeup Name 
                    p.reviews-text-data= val.name
                p.reviews-text Brand
                    p.reviews-text-data= val.brand 
                p.reviews-text Type of Makeup 
                    p.reviews-text-data= val.type 
                p.reviews-text Description 
                    p.reviews-text-desc= val.description 
                p.reviews-text Price 
                    p.reviews-text-data= '$' + val.price